# .gitignore은 깃허브 목록에 올라가지 않았으면 하는
# 파일 확장명을 작성하거나
# 올리고 싶지 않은 파일명을 작성해서 파일이 올라가지 못하도록
# 작성하는 공간
# 샾(#)은 주석으로 해당 코드에 대한 설명이나 관련 내용을 작성하는 공간

# *(모두 선택) 확장자명 앞에 *를 붙이는 것은 이와 관련된 모든 파일이
# 깃에 올라가지 못하도록 방지
*.mp4    # mp4(동영상)파일이 모두 깃허브에 올라가지 못하도록 방지

# 올라가지 않았으면 하는 폴더 이름/
# 위의 코드 처럼 작성할 경우 폴더 명과 폴더 명 밑에 있는 모든 파일이 업로드 되지 않음